// ==========================================================================
// Objects profile picture
// ==========================================================================
.o-profile-picture{
    text-align: center;
    margin: 0 auto;
    float: none;
}