// ==========================================================================
// Elements - Lists
// ==========================================================================
ul,ol{
    list-style: none;
}
/*.carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    border: 1px solid $bgcolor-primary;
}
.carousel-indicators li.active{
    background-color: $bgcolor-primary;
}*/