// ==========================================================================
// Elements - Sections : differents parts of the page (header, footer,...)
// ==========================================================================
section{
    padding: 45px 0 80px 0;
}
footer{
    background: #333;
    padding: 20px 0 40px;
}