// =============================================================================
// Divider - separate different sections on the page
// =============================================================================
@mixin divider{
    width: 100px;
    height: 2px;
    margin: 0 auto 20px;
}