// ==========================================================================
// Components - Education section
// ==========================================================================
.c-education-block{
    width: 105%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}