// ==========================================================================
// Components - Contact form
// ==========================================================================
.c-comments{
    font-style: italic;
    font-size: rem(18);
    color: $bgcolor-secondary;
    height: 25px;
}
.c-thank-you{
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    font-size: rem(22);
}